<div class="px-5 sm:px-10 md:px-12 lg:px-5 max-w-7xl mx-auto">
    <div
        class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr to-black/92 from-neutral-9/66 overflow-hidden"
    >
        <div class="absolute right-0 top-0 h-full w-full flex justify-end">
            <div
                class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
            >
                <span
                    class="absolute w-16 h-16 -top-1 -right-1 bg-pink-5 rounded-md rotate-45"
                ></span><span
                    class="absolute w-16 h-16 -bottom-1 -right-1 bg-blue-5 rounded-md rotate-45"
                ></span>
            </div>
        </div><div
            class="absolute left-0 bottom-0 h-full w-full flex items-end"
        >
            <div class="w-28 h-28 overflow-hidden flex rd-xl relative blur-2xl">
                <span
                    class="absolute w-18 h-18 -top-1 -right-1 bg-pink-5 rounded-md rotate-45"
                ></span><span
                    class="absolute w-18 h-18 -bottom-1 -right-1 bg-blue-5 rounded-md rotate-45"
                ></span><span
                    class="absolute w-18 h-18 -bottom-1 -right-1 bg-purple-5 rounded-md rotate-45"
                ></span>
            </div>
        </div><div
            class="mx-auto text-center max-w-xl md-max-w-2xl relative space-y-8"
        >
            <h1
                class="font-semibold text-white text-3xl/tight sm:text-4xl/tight md:text-5xl/tight"
            >
                Quick Start your <span class="text-transparent bg-clip-text bg-gradient-to-br from-pink-6 via-purple-6 to-blue-5 font-bold">Peeliva</span> Link Sharing!
            </h1><p class="text-neutral-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente delectus architecto ullam earum
            </p>
            <div class="mx-auto max-w-md sm-max-w-xl flex justify-center">
                <a href="/pricing" aria-label="go to pricing"
                    class="grid place-items-center scale-80 md:scale-95 lg:scale-100 brightness-100 lg:hover:scale-103 hover:shadow-purple-5 transition ease-in-out md:-rotate-[2deg] hover:rotate-[0deg] p-1 rounded-xl bg-gradient-to-br from-blue-5 via-purple-6 to-pink-5 hover:to-pink-6 hover:from-purple-6 hover:via-blue-5"
                >
                    <div
                        class="text-xl px-12 max-w-md py-5 backdrop-blur-xl bg-black/95 rounded-lg w-full h-full text-white font-semibold"
                    >
                        Come'on Let's Go!
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
