<div class="absolute top-0 inset-x-0 h-64 flex items-start">
    <div
        class="h-24 w-2/3 bg-gradient-to-br blur-2xl via-blue-5 to-transparent from-pink-3 op-40"
    >
    </div>
    <div
        class="h-20 w-3/5 bg-gradient-to-r op-40 blur-2xl from-transparent to-blue-5/80"
    >
    </div>
</div>
<div class="min-h-100vh w-full flex items-center relative">
    <div
        class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-2/5 aspect-[2/0.5] bg-gradient-to-br from-blue-6 to-pink-4 rd-full op-50 blur-2xl"
    >
    </div>
    <div
        class="px-5 md:px-12 relative mx-auto pt32 lg-max-w-7xl w-full text-center space-y-10"
    >
        <h1
            class="text-white text-4xl/tight sm:text-5xl/tight lg:text-6xl/tight xl:text-7xl/tight mx-auto max-w-4xl font-bold"
        >
            Share Remote Files Easiy!
        </h1>
        <p
            class="text-gray-3 font-semibold tracking-tight mx-auto max-w-2xl"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Deserunt saepe atque enim quasi a ipsum asperiores
            necessitatibus deleniti, sint quo vel corporis dignissimos
        </p>
        <div class="grid place-items-center">
            <div>
                <a href="/pricing" aria-label="go to pricing"
                    class="grid place-items-center scale-80 md:scale-95 lg:scale-100 brightness-100 lg:hover:scale-103 group hover:shadow-xs hover:shadow-purple-5 transition ease-in-out md:rotate-[2deg] hover:rotate-[0deg] p-1 rounded-xl bg-gradient-to-br from-blue-5 via-purple-6 to-pink-5 hover:to-pink-6 hover:from-purple-6 hover:via-blue-5"
                >
                    <div
                        class="text-xl px-12 max-w-md py-5 backdrop-blur-xl bg-black/95 rounded-lg w-full h-full text-white font-semibold"
                    >
                        Get Started
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>