---
import CTO from "../components/Landing/CTO.astro";
import FeatureCard from "../components/Landing/FeatureCard.astro";
import Hero from "../components/Landing/Hero.astro";
import LandingLayout from "../layouts/Landing.astro";

export const prerender = true;


---

<LandingLayout>
	<section class="min-h-screen">
		<Hero />
	</section>
	<section class="relative min-h-screen px-4 py-10">
		<div class="text-center my-3">
			<h2 class="font-bold text-4xl md:text-5xl underline underline-offset-10 text-white decoration-wavy">Crazy Features...</h2>
		</div>

		<div class="grid px-4 md:px-10 grid-cols-3 mt-18">
			<FeatureCard title="Files Encrypted" description="Lorem Dollar messi" />
		</div>
	</section>
	<div class="w-[90vw] block mx-auto h-1 bg-gradient-to-r from-blue-6 via-30% via-purple-6 to-pink-5 rounded-2xl"></div>
	<section class="py-20">
		<CTO />
	</section>
</LandingLayout>
